# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Env files (secrets, config)
.env
.env.*

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage*
htmlcov/

# OS/editor junk
.DS_Store
Thumbs.db

# (Optional) if you later package/build
build/
dist/
*.egg-info/

# Others
testing/